<a href="https://colab.research.google.com/github/syunar/superai-ss3-level1-hackhathon/blob/main/superai_ss3_hack2_iot_temp_prediction_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

-	Install dependencies
    -	Numpy pandas -> to work with dataframe
    -	Seaborn, matplotlib -> to plot graph
    -	tensorflow.keras sklearn -> to work with DL and ML
-	Setting for kaggle api
-	Download dataset from kaggle
-	EDA
    -	Check Data type
    -	Check missing values
    -	Check duplicated values
    -	Check outliers
    -	Check correlation
-	Data Preprocessing
    -	Drop missing values on temp column (have 1)
    -	Drop column pm10 and pm2.5 which have missing values > 15% of records
    -	Drop outliers on wind_speed column filter only < 15000
    -	Feature Engineering
        - hour: เวลาในแต่ละวัน เช่น 8โมง 9โมง บ่ายโมง บ่ายสอง
        - month: เดือนที่เท่าไหร่
        - day: วันที่เท่าไหร่ใน 1 เดือน ตอนหลังมาคิดอีกทีควรใช้ วันในรอบปี น่าจะได้ผลดีขึ้น
        - one hot encoding: mac, station_name, tambon_namt, amphur_namt, province_namt, month, hour, day
        - drop คอลัมน์ที่ไม่ได้ใช้ หรือคอลัมน์ที่แปลงเป็น one hot แล้ว หรือคอลัมน์ที่ มีทิศทางเดียวกัน เช่น station id กับ station name
-	Build function called ‘prepData’ input raw_dataframe output is clean_dataframe
-	Clean train dataset and test dataset from kaggle
-	Split Train Dataset
-	Create model by using basic deep neural network (DNN)
    -	Normalization
    -	Use dropout ก่อนสุดท้ายเพื่อลด overfitting
    -	MAE as loss function
    -	Learning rate 0.0002
    -	Stoploss patience = 3
-	Train model
-	Test model on test data which split from train dataset
    - Acc 0.75
-	Predict on test dataset
-	Submission to kaggle

# Install Dependecies

In [ ]:
!pip install kaggle

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (1.5.12)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle) (2022.9.24)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle) (6.1.2)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from kaggle) (4.64.1)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.24.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle) (1.15.0)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle) (2.8.2)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle) (2.10)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
!mkdir ~/.kaggle
!cp /content/drive/MyDrive/superai_hackhaton1_image/kaggle.json ~/.kaggle/kaggle.json
!chmod 600 ~/.kaggle/kaggle.json
!kaggle competitions download -c ss3-hackathon-online-iots-and-robotics
!unzip ss3-hackathon-online-iots-and-robotics.zip

Downloading ss3-hackathon-online-iots-and-robotics.zip to /content
  0% 0.00/263k [00:00<?, ?B/s]
100% 263k/263k [00:00<00:00, 67.3MB/s]
Archive:  ss3-hackathon-online-iots-and-robotics.zip
  inflating: IOT_Submit.csv
  inflating: IOT_Test.csv
  inflating: IOT_Train.csv

In [ ]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.expand_frame_repr', False)
pd.set_option('max_colwidth', -1)
pd.set_option('float_format', '{:,.2f}'.format)
pd.set_option('display.max_rows', 500)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.ticker as ticker # change date format on chart

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.
  after removing the cwd from sys.path.

In [ ]:
!wget -q https://github.com/Phonbopit/sarabun-webfont/raw/master/fonts/thsarabunnew-webfont.ttf
import matplotlib as mpl
mpl.font_manager.fontManager.addfont('thsarabunnew-webfont.ttf')
mpl.rc('font', family='TH Sarabun New', size=20)
#plt.style.use('ggplot') # setting default style
#plt.rcParams.update({'font.size': 15})

In [ ]:
df = pd.read_csv('/content/IOT_Train.csv')

# EDA

## Basic Stats

In [ ]:
print(df.describe().T)

                  count       mean        std        min        25%        50%        75%        max
tambon_code   13,635.00 452,665.90 213,925.10 102,601.00 300,903.00 380,704.00 550,404.00 860,206.00
amphur_code   13,635.00 4,526.63   2,139.24   1,026.00   3,009.00   3,807.00   5,504.00   8,602.00
province_code 13,635.00 45.18      21.45      10.00      30.00      38.00      55.00      86.00
latitude      13,635.00 15.50      2.35       10.58      14.53      16.49      18.14      18.24
longitude     13,635.00 101.73     2.18       98.57      100.57     102.05     104.35     104.50
humid         13,635.00 80.43      12.44      40.90      71.00      82.40      90.60      100.00
light         13,635.00 33.20      34.51      0.00       0.00       16.00      68.00      96.00
pm10          6,841.00  7.66       8.45       1.00       3.00       6.00       10.00      368.00
pm2.5         6,841.00  6.45       8.42       0.00       2.00       4.00       9.00       368.00
rainfall      13,635.00 0.14       1.11       0.00       0.00       0.00       0.00       34.10
wind_direct   13,635.00 161.85     100.34     0.00       45.00      180.00     225.00     337.50
wind_speed    13,635.00 4.53       181.67     0.00       0.00       1.40       3.40       15,094.30
temp          13,634.00 29.08      4.34       17.20      25.80      28.10      31.70      51.10

## Correlation

In [ ]:
corr = df.corr()
corr_unstacked = corr.unstack()
corr_unstacked_sorted = corr_unstacked.sort_values(kind="quicksort", ascending=False)
corr_df=pd.Series.to_frame(corr_unstacked_sorted, name='correlation')  #Convert Series to DataFrame and name correlation column accordingly. 
high_corr_features =  corr_df[corr_df.correlation != 1]  #Remove all 1s that correspond to self correlation
high_corr_features.unstack()['correlation'][['temp']].sort_values(by='temp')

               temp
humid         -0.90
amphur_code   -0.19
tambon_code   -0.19
province_code -0.19
pm2.5         -0.13
pm10          -0.13
rainfall      -0.07
wind_speed    0.01
latitude      0.07
wind_direct   0.08
longitude     0.14
light         0.73
temp          NaN

In [ ]:
df.shape

(13635, 19)

## Drop outliers

In [ ]:
df_clean = df.copy()

# drop outliers
df_clean = df_clean[df_clean['wind_speed'] < 15000]

# drop na
df_clean = df_clean.dropna(subset=['temp'], axis=0, how='any')

In [ ]:
df_clean.shape

(13633, 19)

## Feature Engineering
- hour: เวลาในแต่ละวัน เช่น 8โมง 9โมง บ่ายโมง บ่ายสอง 
- month: เดือนที่เท่าไหร่
- day: วันที่เท่าไหร่ใน 1 เดือน ตอนหลังมาคิดอีกทีควรใช้ วันในรอบปี น่าจะได้ผลดีขึ้น
- one hot encoding: mac, station_name, tambon_namt, amphur_namt, province_namt, month, hour, day
- drop คอลัมน์ที่ไม่ได้ใช้ หรือคอลัมน์ที่แปลงเป็น one hot แล้ว หรือคอลัมน์ที่ มีทิศทางเดียวกัน เช่น station id กับ station name

In [ ]:
def prepData(df_clean):
    df_prep = df_clean.drop(['pm10', 'pm2.5'], axis=1)
    df_prep['time'] = pd.to_datetime(df_prep.time)
    df_prep['hour'] = df_prep['time'].dt.hour
    df_prep['month'] = df_prep['time'].dt.month
    df_prep['day'] = df_prep['time'].dt.day

    df_prep = (
        df_prep
        .join
        (pd.get_dummies(df_prep['mac']
        .explode(), drop_first=True)
        .groupby(level=0)
        .sum()
        )
        .join
        (pd.get_dummies(df_prep['station_name']
        .explode(), drop_first=True)
        .groupby(level=0)
        .sum()
        )
        .join
        (pd.get_dummies(df_prep['tambon_namt']
        .explode(), drop_first=True)
        .groupby(level=0)
        .sum()
        )
        .join
        (pd.get_dummies(df_prep['amphur_namt']
        .explode(), drop_first=True)
        .groupby(level=0)
        .sum()
        .add_prefix('amphur_')
        )
        .join
        (pd.get_dummies(df_prep['province_namt']
        .explode(), drop_first=True)
        .groupby(level=0)
        .sum()
        )
        .join
        (pd.get_dummies(df_prep['month']
        .explode(), drop_first=True)
        .groupby(level=0)
        .sum()
        .add_prefix('month_')
        )
        .join
        (pd.get_dummies(df_prep['hour']
        .explode(), drop_first=True)
        .groupby(level=0)
        .sum()
        .add_prefix('hour_')
        )
        .join
        (pd.get_dummies(df_prep['day']
        .explode(), drop_first=True)
        .groupby(level=0)
        .sum()
        .add_prefix('day_')
        )
        .drop(['hour', 
               'month',
               'day',
               'mac', 
               'station_name', 
               'tambon_namt', 
               'tambon_code', 
               'amphur_namt', 
               'amphur_code', 
               'province_namt', 
               'province_code', 
               'time'], axis=1)
    )
    return df_prep

In [ ]:
df_train_prep = prepData(df_clean)
df_train_prep

       latitude  longitude  humid  light  rainfall  wind_direct  wind_speed  temp  3C71BF15DB04  3C71BF164F90  3C71BF17CDBC  3C71BF18CEA4  3C71BF18EA64  3C71BF1B1E28  807D3AF57920  บ้านนาสะแบง_2  บ้านสำโรงเกียรติ_2  โรงเรียนท่าข้ามวิทยา  โรงเรียนบ้านนา  โรงเรียนสรรพวิทยาคม  โรงเรียนสามเสนนอก(ประชาราษฎร์อนุกูล)  โรงเรียนหนองสูงสามัคคีวิทยา_2  ดินแดง  ท่าข้าม  นาสะแบง  บักดอง  สถาน  หนองสูงเหนือ  แม่สอด  amphur_ดินแดง  amphur_ท่าแซะ  amphur_นาน้อย  amphur_ศรีวิไล  amphur_หนองสูง  amphur_แม่สอด  amphur_โนนไทย  ชุมพร  ตาก  นครราชสีมา  น่าน  บึงกาฬ  มุกดาหาร  ศรีสะเกษ  month_6  month_7  hour_1  hour_2  hour_3  hour_4  hour_5  hour_6  hour_7  hour_8  hour_9  hour_10  hour_11  hour_12  hour_13  hour_14  hour_15  hour_16  hour_17  hour_18  hour_19  hour_20  hour_21  hour_22  hour_23  day_2  day_3  day_4  day_5  day_6  day_7  day_8  day_9  day_10  day_11  day_12  day_13  day_14  day_15  day_16  day_17  day_18  day_19  day_20  day_21  day_22  day_23  day_24  day_25  day_26  day_27  day_28  day_29  day_30  day_31
0     15.11     102.05     70.60  59.00  0.00      45.00        4.30        32.60  0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         0        1        0       0       0       0       0       0       0       0       0       0        0        0        0        0        1        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0
1     15.11     102.05     62.30  76.00  0.00      45.00        1.90        37.90  0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         0        0        0       0       0       0       0       0       0       0       1       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
2     15.11     102.05     90.30  0.00   0.00      135.00       3.20        26.40  0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         1        0        0       0       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        1        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0
3     15.11     102.05     91.70  0.00   0.00      157.50       0.00        25.60  0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         0        1        0       0       0       1       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
4     15.11     102.05     59.10  71.00  0.00      180.00       2.30        36.20  0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         0        0        0       0       0       0       0       0       0       1       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0
...     ...        ...       ...    ...   ...         ...        ...          ... ..            ..            ..            ..            ..            ..            ..            ..             ..                  ..                    ..              ..                   ..                                    ..                             ..      ..       ..       ..      ..    ..            ..      ..             ..             ..             ..              ..              ..             ..             ..     ..   ..          ..    ..      ..        ..        ..       ..       ..      ..      ..      ..      ..      ..      ..      ..      ..      ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..     ..     ..     ..     ..     ..     ..     ..     ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..
13630 16.49     104.35     97.90  0.00   4.20      0.00         0.00        23.50  0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         1        0        1       0       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
13631 16.49     104.35     80.60  0.00   0.00      135.00       2.90        19.30  0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         0        0        0       1       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      1      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
13632 16.49     104.35     87.90  37.00  0.00      45.00        3.00        24.50  0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         0        0        0       0       0       0       0       1       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0
13633 16.49     104.35     89.90  0.00   0.00      315.00       0.00        27.30  0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         1        0        0       1       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
13634 16.49     104.35     66.30  43.00  0.00      45.00        0.80        33.50  0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         1        0        0       0       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        1        0        0        0        0        0        0      0      0      1      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0

[13633 rows x 98 columns]

In [ ]:
df_test = pd.read_csv('/content/IOT_Test.csv', index_col='id')
df_test_prep = prepData(df_test)
df_test_prep

      latitude  longitude  humid  light  rainfall  wind_direct  wind_speed  3C71BF15DB04  3C71BF164F90  3C71BF17CDBC  3C71BF18CEA4  3C71BF18EA64  3C71BF1B1E28  807D3AF57920  บ้านนาสะแบง_2  บ้านสำโรงเกียรติ_2  โรงเรียนท่าข้ามวิทยา  โรงเรียนบ้านนา  โรงเรียนสรรพวิทยาคม  โรงเรียนสามเสนนอก(ประชาราษฎร์อนุกูล)  โรงเรียนหนองสูงสามัคคีวิทยา_2  ดินแดง  ท่าข้าม  นาสะแบง  บักดอง  สถาน  หนองสูงเหนือ  แม่สอด  amphur_ดินแดง  amphur_ท่าแซะ  amphur_นาน้อย  amphur_ศรีวิไล  amphur_หนองสูง  amphur_แม่สอด  amphur_โนนไทย  ชุมพร  ตาก  นครราชสีมา  น่าน  บึงกาฬ  มุกดาหาร  ศรีสะเกษ  month_6  month_7  hour_1  hour_2  hour_3  hour_4  hour_5  hour_6  hour_7  hour_8  hour_9  hour_10  hour_11  hour_12  hour_13  hour_14  hour_15  hour_16  hour_17  hour_18  hour_19  hour_20  hour_21  hour_22  hour_23  day_2  day_3  day_4  day_5  day_6  day_7  day_8  day_9  day_10  day_11  day_12  day_13  day_14  day_15  day_16  day_17  day_18  day_19  day_20  day_21  day_22  day_23  day_24  day_25  day_26  day_27  day_28  day_29  day_30  day_31
id
1    15.11     102.05     88.90  1.00   0.00      180.00       2.30         0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         0        0        0       0       0       1       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0
2    15.11     102.05     85.00  40.00  0.30      135.00       1.50         0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         0        0        0       0       0       0       0       0       0       0       0       0        0        0        0        0        0        1        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
3    15.11     102.05     88.90  7.00   0.00      157.50       0.00         0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         1        0        0       0       1       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0
4    15.11     102.05     81.90  66.00  0.00      135.00       0.20         0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         0        1        0       0       0       0       0       0       0       0       0       0        0        0        1        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       1       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
5    15.11     102.05     64.90  71.00  0.00      225.00       2.40         0             0             0             0             1             0             0             0              0                   0                     0               0                    0                                     0                              0       0        0        0       0     0             0       0              0              0              0               0               0              1              0      0    1           0     0       0         0         0        1        0       0       0       0       0       0       0       0       1       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      1      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
...    ...        ...       ...    ...   ...         ...        ...        ..            ..            ..            ..            ..            ..            ..            ..             ..                  ..                    ..              ..                   ..                                    ..                             ..      ..       ..       ..      ..    ..            ..      ..             ..             ..             ..              ..              ..             ..             ..     ..   ..          ..    ..      ..        ..        ..       ..       ..      ..      ..      ..      ..      ..      ..      ..      ..      ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..       ..     ..     ..     ..     ..     ..     ..     ..     ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..      ..
3409 16.49     104.35     87.00  0.00   0.00      315.00       0.00         0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         1        0        0       0       1       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      1      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0
3410 16.49     104.35     71.70  81.00  0.00      180.00       3.10         0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         0        0        0       0       0       0       0       0       0       0       1       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0
3411 16.49     104.35     86.50  2.00   0.00      0.00         0.60         0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         0        0        0       0       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        1        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0
3412 16.49     104.35     96.50  0.00   0.00      0.00         0.00         0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         0        1        1       0       0       0       0       0       0       0       0       0        0        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0
3413 16.49     104.35     63.80  87.00  0.00      0.00         0.40         0             0             0             1             0             0             0             0              0                   0                     0               0                    0                                     1                              0       0        0        0       0     1             0       0              0              0              0               1               0              0              0      0    0           0     0       1         0         1        0        0       0       0       0       0       0       0       0       0       0        1        0        0        0        0        0        0        0        0        0        0        0        0        0      0      0      0      0      0      0      0      0       0       0       0       0       0       0       0       0       0       1       0       0       0       0       0       0       0       0       0       0       0

[3413 rows x 97 columns]

# Split Data

In [ ]:
#Split into features and target
from sklearn.model_selection import train_test_split
X = df_train_prep.drop('temp', axis = 1)
y = df_train_prep['temp']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 20)

# Build Deep learning model

In [ ]:
import tensorflow as tf

from tensorflow import keras
from tensorflow.keras import layers
from tensorflow.keras import Sequential


print(tf.__version__)

2.9.2

In [ ]:
df_train_prep.describe().transpose()[['mean', 'std']]

                                       mean    std
latitude                             15.50  2.35
longitude                            101.73 2.18
humid                                80.43  12.44
light                                33.20  34.51
rainfall                             0.14   1.11
wind_direct                          161.85 100.35
wind_speed                           3.43   127.69
temp                                 29.08  4.34
3C71BF15DB04                         0.12   0.33
3C71BF164F90                         0.12   0.32
3C71BF17CDBC                         0.13   0.33
3C71BF18CEA4                         0.13   0.33
3C71BF18EA64                         0.12   0.33
3C71BF1B1E28                         0.13   0.33
807D3AF57920                         0.13   0.33
บ้านนาสะแบง_2                        0.13   0.33
บ้านสำโรงเกียรติ_2                   0.12   0.33
โรงเรียนท่าข้ามวิทยา                 0.12   0.32
โรงเรียนบ้านนา                       0.13   0.33
โรงเรียนสรรพวิทยาคม                  0.13   0.33
โรงเรียนสามเสนนอก(ประชาราษฎร์อนุกูล) 0.13   0.33
โรงเรียนหนองสูงสามัคคีวิทยา_2        0.13   0.33
ดินแดง                               0.13   0.33
ท่าข้าม                              0.12   0.32
นาสะแบง                              0.13   0.33
บักดอง                               0.12   0.33
สถาน                                 0.13   0.33
หนองสูงเหนือ                         0.13   0.33
แม่สอด                               0.13   0.33
amphur_ดินแดง                        0.13   0.33
amphur_ท่าแซะ                        0.12   0.32
amphur_นาน้อย                        0.13   0.33
amphur_ศรีวิไล                       0.13   0.33
amphur_หนองสูง                       0.13   0.33
amphur_แม่สอด                        0.13   0.33
amphur_โนนไทย                        0.12   0.33
ชุมพร                                0.12   0.32
ตาก                                  0.13   0.33
นครราชสีมา                           0.12   0.33
น่าน                                 0.13   0.33
บึงกาฬ                               0.13   0.33
มุกดาหาร                             0.13   0.33
ศรีสะเกษ                             0.12   0.33
month_6                              0.33   0.47
month_7                              0.33   0.47
hour_1                               0.04   0.20
hour_2                               0.04   0.20
hour_3                               0.04   0.20
hour_4                               0.04   0.20
hour_5                               0.04   0.20
hour_6                               0.04   0.20
hour_7                               0.04   0.20
hour_8                               0.04   0.20
hour_9                               0.04   0.20
hour_10                              0.04   0.20
hour_11                              0.04   0.20
hour_12                              0.04   0.20
hour_13                              0.04   0.20
hour_14                              0.04   0.20
hour_15                              0.04   0.20
hour_16                              0.04   0.20
hour_17                              0.04   0.20
hour_18                              0.04   0.20
hour_19                              0.04   0.20
hour_20                              0.04   0.20
hour_21                              0.04   0.20
hour_22                              0.04   0.20
hour_23                              0.04   0.20
day_2                                0.03   0.18
day_3                                0.03   0.17
day_4                                0.03   0.18
day_5                                0.03   0.18
day_6                                0.03   0.18
day_7                                0.03   0.18
day_8                                0.03   0.18
day_9                                0.03   0.18
day_10                               0.03   0.18
day_11                               0.03   0.18
day_12                               0.03   0.18
day_13                               0.03   0.18
day_14                               0.03   0.18
day_15                               0.03   0.18
day_16                               0.03   0.18
day_17                               0.03   0.18
day_18                               0.03   0.17
day_19                               0.03   0.18
day_20                               0.03   0.17
day_21                               0.03   0.18
day_22                               0.03   0.18
day_23                               0.03   0.18
day_24                               0.04   0.18
day_25                               0.03   0.18
day_26                               0.03   0.18
day_27                               0.03   0.18
day_28                               0.03   0.18
day_29                               0.03   0.18
day_30                               0.03   0.18
day_31                               0.02   0.14

## Normalization

In [ ]:
normalizer = tf.keras.layers.Normalization(axis=-1)

In [ ]:
normalizer.adapt(np.array(X_train))

## Basic DNN (use MAE as loss function)

In [ ]:
def build_and_compile_model(norm):
  model = keras.Sequential([
      norm,
      layers.Dense(97, activation='relu'),
      layers.Dense(128, activation='relu'),
      layers.Dense(128, activation='relu'),
      layers.Dense(512, activation='relu'),
      layers.Dropout(0.1),
      layers.Dense(1, activation='linear')
  ])

  model.compile(loss='mean_absolute_error',
                optimizer=tf.keras.optimizers.Adam(0.0002),
                metrics=['mae'])
  return model

In [ ]:
dnn_model = build_and_compile_model(normalizer)

In [ ]:
dnn_model.summary()

Model: "sequential_21"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 normalization (Normalizatio  (None, 97)               195
 n)

 dense_67 (Dense)            (None, 97)                9506

 dense_68 (Dense)            (None, 128)               12544

 dense_69 (Dense)            (None, 128)               16512

 dense_70 (Dense)            (None, 512)               66048

 dropout_1 (Dropout)         (None, 512)               0

 dense_71 (Dense)            (None, 1)                 513

=================================================================
Total params: 105,318
Trainable params: 105,123
Non-trainable params: 195
_________________________________________________________________

## Stop loss

In [ ]:
callback = tf.keras.callbacks.EarlyStopping(monitor='loss', patience=3)

## Train model

In [ ]:
%%time
history = dnn_model.fit(
    X_train,
    y_train,
    validation_split=0.2,
    verbose=1, epochs=300,
    callbacks=[callback])

Epoch 1/300
273/273 [==============================] - 2s 6ms/step - loss: 28.2130 - mae: 28.2130 - val_loss: 27.2583 - val_mae: 27.2583
Epoch 2/300
273/273 [==============================] - 1s 5ms/step - loss: 24.7472 - mae: 24.7472 - val_loss: 21.2163 - val_mae: 21.2163
Epoch 3/300
273/273 [==============================] - 1s 5ms/step - loss: 13.4550 - mae: 13.4550 - val_loss: 5.6574 - val_mae: 5.6574
Epoch 4/300
273/273 [==============================] - 1s 5ms/step - loss: 4.6308 - mae: 4.6308 - val_loss: 4.0947 - val_mae: 4.0947
Epoch 5/300
273/273 [==============================] - 1s 5ms/step - loss: 3.8113 - mae: 3.8113 - val_loss: 3.4871 - val_mae: 3.4871
Epoch 6/300
273/273 [==============================] - 1s 5ms/step - loss: 3.3431 - mae: 3.3431 - val_loss: 3.1115 - val_mae: 3.1115
Epoch 7/300
273/273 [==============================] - 1s 5ms/step - loss: 3.0357 - mae: 3.0357 - val_loss: 2.8622 - val_mae: 2.8622
Epoch 8/300
273/273 [==============================] - 1s 5ms/step - loss: 2.8309 - mae: 2.8309 - val_loss: 2.6811 - val_mae: 2.6811
Epoch 9/300
273/273 [==============================] - 1s 5ms/step - loss: 2.6792 - mae: 2.6792 - val_loss: 2.5625 - val_mae: 2.5625
Epoch 10/300
273/273 [==============================] - 1s 5ms/step - loss: 2.5391 - mae: 2.5391 - val_loss: 2.4436 - val_mae: 2.4436
Epoch 11/300
273/273 [==============================] - 1s 5ms/step - loss: 2.4501 - mae: 2.4501 - val_loss: 2.3615 - val_mae: 2.3615
Epoch 12/300
273/273 [==============================] - 1s 5ms/step - loss: 2.3688 - mae: 2.3688 - val_loss: 2.2826 - val_mae: 2.2826
Epoch 13/300
273/273 [==============================] - 1s 5ms/step - loss: 2.3123 - mae: 2.3123 - val_loss: 2.2238 - val_mae: 2.2238
Epoch 14/300
273/273 [==============================] - 1s 5ms/step - loss: 2.2510 - mae: 2.2510 - val_loss: 2.1813 - val_mae: 2.1813
Epoch 15/300
273/273 [==============================] - 1s 5ms/step - loss: 2.2132 - mae: 2.2132 - val_loss: 2.1369 - val_mae: 2.1369
Epoch 16/300
273/273 [==============================] - 1s 5ms/step - loss: 2.1612 - mae: 2.1612 - val_loss: 2.0929 - val_mae: 2.0929
Epoch 17/300
273/273 [==============================] - 1s 5ms/step - loss: 2.1078 - mae: 2.1078 - val_loss: 2.0669 - val_mae: 2.0669
Epoch 18/300
273/273 [==============================] - 1s 5ms/step - loss: 2.0844 - mae: 2.0844 - val_loss: 2.0269 - val_mae: 2.0269
Epoch 19/300
273/273 [==============================] - 1s 5ms/step - loss: 2.0548 - mae: 2.0548 - val_loss: 1.9884 - val_mae: 1.9884
Epoch 20/300
273/273 [==============================] - 1s 5ms/step - loss: 2.0104 - mae: 2.0104 - val_loss: 1.9615 - val_mae: 1.9615
Epoch 21/300
273/273 [==============================] - 1s 5ms/step - loss: 1.9848 - mae: 1.9848 - val_loss: 1.9414 - val_mae: 1.9414
Epoch 22/300
273/273 [==============================] - 1s 5ms/step - loss: 1.9707 - mae: 1.9707 - val_loss: 1.9125 - val_mae: 1.9125
Epoch 23/300
273/273 [==============================] - 2s 6ms/step - loss: 1.9374 - mae: 1.9374 - val_loss: 1.8850 - val_mae: 1.8850
Epoch 24/300
273/273 [==============================] - 2s 8ms/step - loss: 1.9238 - mae: 1.9238 - val_loss: 1.8646 - val_mae: 1.8646
Epoch 25/300
273/273 [==============================] - 2s 7ms/step - loss: 1.8842 - mae: 1.8842 - val_loss: 1.8381 - val_mae: 1.8381
Epoch 26/300
273/273 [==============================] - 1s 5ms/step - loss: 1.8686 - mae: 1.8686 - val_loss: 1.8229 - val_mae: 1.8229
Epoch 27/300
273/273 [==============================] - 1s 5ms/step - loss: 1.8446 - mae: 1.8446 - val_loss: 1.7996 - val_mae: 1.7996
Epoch 28/300
273/273 [==============================] - 1s 5ms/step - loss: 1.8197 - mae: 1.8197 - val_loss: 1.7873 - val_mae: 1.7873
Epoch 29/300
273/273 [==============================] - 1s 5ms/step - loss: 1.8041 - mae: 1.8041 - val_loss: 1.7641 - val_mae: 1.7641
Epoch 30/300
273/273 [==============================] - 1s 5ms/step - loss: 1.7911 - mae: 1.7911 - val_loss: 1.7391 - val_mae: 1.7391
Epoch 31/300
273/273 [==============================] - 1s 5ms/step - loss: 1.7712 - mae: 1.7712 - val_loss: 1.7485 - val_mae: 1.7485
Epoch 32/300
273/273 [==============================] - 1s 5ms/step - loss: 1.7493 - mae: 1.7493 - val_loss: 1.7030 - val_mae: 1.7030
Epoch 33/300
273/273 [==============================] - 1s 5ms/step - loss: 1.7262 - mae: 1.7262 - val_loss: 1.6921 - val_mae: 1.6921
Epoch 34/300
273/273 [==============================] - 1s 5ms/step - loss: 1.7084 - mae: 1.7084 - val_loss: 1.6765 - val_mae: 1.6765
Epoch 35/300
273/273 [==============================] - 1s 5ms/step - loss: 1.6967 - mae: 1.6967 - val_loss: 1.6559 - val_mae: 1.6559
Epoch 36/300
273/273 [==============================] - 1s 5ms/step - loss: 1.6644 - mae: 1.6644 - val_loss: 1.6564 - val_mae: 1.6564
Epoch 37/300
273/273 [==============================] - 1s 5ms/step - loss: 1.6577 - mae: 1.6577 - val_loss: 1.6291 - val_mae: 1.6291
Epoch 38/300
273/273 [==============================] - 1s 5ms/step - loss: 1.6559 - mae: 1.6559 - val_loss: 1.6242 - val_mae: 1.6242
Epoch 39/300
273/273 [==============================] - 1s 5ms/step - loss: 1.6355 - mae: 1.6355 - val_loss: 1.6025 - val_mae: 1.6025
Epoch 40/300
273/273 [==============================] - 1s 5ms/step - loss: 1.6229 - mae: 1.6229 - val_loss: 1.5894 - val_mae: 1.5894
Epoch 41/300
273/273 [==============================] - 1s 5ms/step - loss: 1.6134 - mae: 1.6134 - val_loss: 1.5781 - val_mae: 1.5781
Epoch 42/300
273/273 [==============================] - 1s 5ms/step - loss: 1.5918 - mae: 1.5918 - val_loss: 1.5664 - val_mae: 1.5664
Epoch 43/300
273/273 [==============================] - 1s 5ms/step - loss: 1.5834 - mae: 1.5834 - val_loss: 1.5564 - val_mae: 1.5564
Epoch 44/300
273/273 [==============================] - 1s 5ms/step - loss: 1.5629 - mae: 1.5629 - val_loss: 1.5424 - val_mae: 1.5424
Epoch 45/300
273/273 [==============================] - 1s 5ms/step - loss: 1.5561 - mae: 1.5561 - val_loss: 1.5398 - val_mae: 1.5398
Epoch 46/300
273/273 [==============================] - 1s 5ms/step - loss: 1.5448 - mae: 1.5448 - val_loss: 1.5281 - val_mae: 1.5281
Epoch 47/300
273/273 [==============================] - 1s 5ms/step - loss: 1.5348 - mae: 1.5348 - val_loss: 1.5126 - val_mae: 1.5126
Epoch 48/300
273/273 [==============================] - 1s 5ms/step - loss: 1.5208 - mae: 1.5208 - val_loss: 1.4982 - val_mae: 1.4982
Epoch 49/300
273/273 [==============================] - 1s 5ms/step - loss: 1.5175 - mae: 1.5175 - val_loss: 1.4944 - val_mae: 1.4944
Epoch 50/300
273/273 [==============================] - 1s 5ms/step - loss: 1.4933 - mae: 1.4933 - val_loss: 1.4838 - val_mae: 1.4838
Epoch 51/300
273/273 [==============================] - 2s 6ms/step - loss: 1.4887 - mae: 1.4887 - val_loss: 1.4692 - val_mae: 1.4692
Epoch 52/300
273/273 [==============================] - 2s 6ms/step - loss: 1.4764 - mae: 1.4764 - val_loss: 1.4715 - val_mae: 1.4715
Epoch 53/300
273/273 [==============================] - 2s 6ms/step - loss: 1.4633 - mae: 1.4633 - val_loss: 1.4587 - val_mae: 1.4587
Epoch 54/300
273/273 [==============================] - 1s 5ms/step - loss: 1.4488 - mae: 1.4488 - val_loss: 1.4496 - val_mae: 1.4496
Epoch 55/300
273/273 [==============================] - 1s 5ms/step - loss: 1.4611 - mae: 1.4611 - val_loss: 1.4358 - val_mae: 1.4358
Epoch 56/300
273/273 [==============================] - 1s 5ms/step - loss: 1.4488 - mae: 1.4488 - val_loss: 1.4423 - val_mae: 1.4423
Epoch 57/300
273/273 [==============================] - 2s 6ms/step - loss: 1.4320 - mae: 1.4320 - val_loss: 1.4172 - val_mae: 1.4172
Epoch 58/300
273/273 [==============================] - 1s 5ms/step - loss: 1.4292 - mae: 1.4292 - val_loss: 1.4095 - val_mae: 1.4095
Epoch 59/300
273/273 [==============================] - 1s 5ms/step - loss: 1.4197 - mae: 1.4197 - val_loss: 1.3972 - val_mae: 1.3972
Epoch 60/300
273/273 [==============================] - 1s 5ms/step - loss: 1.4089 - mae: 1.4089 - val_loss: 1.3937 - val_mae: 1.3937
Epoch 61/300
273/273 [==============================] - 1s 5ms/step - loss: 1.4028 - mae: 1.4028 - val_loss: 1.3822 - val_mae: 1.3822
Epoch 62/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3991 - mae: 1.3991 - val_loss: 1.3735 - val_mae: 1.3735
Epoch 63/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3747 - mae: 1.3747 - val_loss: 1.3719 - val_mae: 1.3719
Epoch 64/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3874 - mae: 1.3874 - val_loss: 1.3647 - val_mae: 1.3647
Epoch 65/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3777 - mae: 1.3777 - val_loss: 1.3690 - val_mae: 1.3690
Epoch 66/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3719 - mae: 1.3719 - val_loss: 1.3535 - val_mae: 1.3535
Epoch 67/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3633 - mae: 1.3633 - val_loss: 1.3370 - val_mae: 1.3370
Epoch 68/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3462 - mae: 1.3462 - val_loss: 1.3302 - val_mae: 1.3302
Epoch 69/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3520 - mae: 1.3520 - val_loss: 1.3218 - val_mae: 1.3218
Epoch 70/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3313 - mae: 1.3313 - val_loss: 1.3170 - val_mae: 1.3170
Epoch 71/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3345 - mae: 1.3345 - val_loss: 1.3206 - val_mae: 1.3206
Epoch 72/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3158 - mae: 1.3158 - val_loss: 1.3038 - val_mae: 1.3038
Epoch 73/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3190 - mae: 1.3190 - val_loss: 1.3011 - val_mae: 1.3011
Epoch 74/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3052 - mae: 1.3052 - val_loss: 1.2966 - val_mae: 1.2966
Epoch 75/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3117 - mae: 1.3117 - val_loss: 1.2852 - val_mae: 1.2852
Epoch 76/300
273/273 [==============================] - 1s 5ms/step - loss: 1.3023 - mae: 1.3023 - val_loss: 1.2868 - val_mae: 1.2868
Epoch 77/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2951 - mae: 1.2951 - val_loss: 1.2739 - val_mae: 1.2739
Epoch 78/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2876 - mae: 1.2876 - val_loss: 1.2685 - val_mae: 1.2685
Epoch 79/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2798 - mae: 1.2798 - val_loss: 1.2634 - val_mae: 1.2634
Epoch 80/300
273/273 [==============================] - 2s 6ms/step - loss: 1.2796 - mae: 1.2796 - val_loss: 1.2553 - val_mae: 1.2553
Epoch 81/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2785 - mae: 1.2785 - val_loss: 1.2506 - val_mae: 1.2506
Epoch 82/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2640 - mae: 1.2640 - val_loss: 1.2483 - val_mae: 1.2483
Epoch 83/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2698 - mae: 1.2698 - val_loss: 1.2418 - val_mae: 1.2418
Epoch 84/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2484 - mae: 1.2484 - val_loss: 1.2353 - val_mae: 1.2353
Epoch 85/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2545 - mae: 1.2545 - val_loss: 1.2335 - val_mae: 1.2335
Epoch 86/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2456 - mae: 1.2456 - val_loss: 1.2256 - val_mae: 1.2256
Epoch 87/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2556 - mae: 1.2556 - val_loss: 1.2348 - val_mae: 1.2348
Epoch 88/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2440 - mae: 1.2440 - val_loss: 1.2201 - val_mae: 1.2201
Epoch 89/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2387 - mae: 1.2387 - val_loss: 1.2149 - val_mae: 1.2149
Epoch 90/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2285 - mae: 1.2285 - val_loss: 1.2139 - val_mae: 1.2139
Epoch 91/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2244 - mae: 1.2244 - val_loss: 1.2064 - val_mae: 1.2064
Epoch 92/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2321 - mae: 1.2321 - val_loss: 1.1957 - val_mae: 1.1957
Epoch 93/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2199 - mae: 1.2199 - val_loss: 1.1945 - val_mae: 1.1945
Epoch 94/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1980 - mae: 1.1980 - val_loss: 1.1914 - val_mae: 1.1914
Epoch 95/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2124 - mae: 1.2124 - val_loss: 1.1861 - val_mae: 1.1861
Epoch 96/300
273/273 [==============================] - 1s 5ms/step - loss: 1.2012 - mae: 1.2012 - val_loss: 1.1821 - val_mae: 1.1821
Epoch 97/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1944 - mae: 1.1944 - val_loss: 1.1810 - val_mae: 1.1810
Epoch 98/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1910 - mae: 1.1910 - val_loss: 1.1736 - val_mae: 1.1736
Epoch 99/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1972 - mae: 1.1972 - val_loss: 1.1677 - val_mae: 1.1677
Epoch 100/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1903 - mae: 1.1903 - val_loss: 1.1654 - val_mae: 1.1654
Epoch 101/300
273/273 [==============================] - 2s 6ms/step - loss: 1.1920 - mae: 1.1920 - val_loss: 1.1609 - val_mae: 1.1609
Epoch 102/300
273/273 [==============================] - 3s 10ms/step - loss: 1.1785 - mae: 1.1785 - val_loss: 1.1621 - val_mae: 1.1621
Epoch 103/300
273/273 [==============================] - 3s 9ms/step - loss: 1.1697 - mae: 1.1697 - val_loss: 1.1565 - val_mae: 1.1565
Epoch 104/300
273/273 [==============================] - 3s 10ms/step - loss: 1.1681 - mae: 1.1681 - val_loss: 1.1535 - val_mae: 1.1535
Epoch 105/300
273/273 [==============================] - 2s 6ms/step - loss: 1.1674 - mae: 1.1674 - val_loss: 1.1641 - val_mae: 1.1641
Epoch 106/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1616 - mae: 1.1616 - val_loss: 1.1439 - val_mae: 1.1439
Epoch 107/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1629 - mae: 1.1629 - val_loss: 1.1405 - val_mae: 1.1405
Epoch 108/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1588 - mae: 1.1588 - val_loss: 1.1450 - val_mae: 1.1450
Epoch 109/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1462 - mae: 1.1462 - val_loss: 1.1324 - val_mae: 1.1324
Epoch 110/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1447 - mae: 1.1447 - val_loss: 1.1416 - val_mae: 1.1416
Epoch 111/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1503 - mae: 1.1503 - val_loss: 1.1305 - val_mae: 1.1305
Epoch 112/300
273/273 [==============================] - 2s 5ms/step - loss: 1.1424 - mae: 1.1424 - val_loss: 1.1297 - val_mae: 1.1297
Epoch 113/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1404 - mae: 1.1404 - val_loss: 1.1210 - val_mae: 1.1210
Epoch 114/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1357 - mae: 1.1357 - val_loss: 1.1277 - val_mae: 1.1277
Epoch 115/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1394 - mae: 1.1394 - val_loss: 1.1135 - val_mae: 1.1135
Epoch 116/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1350 - mae: 1.1350 - val_loss: 1.1168 - val_mae: 1.1168
Epoch 117/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1247 - mae: 1.1247 - val_loss: 1.1095 - val_mae: 1.1095
Epoch 118/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1223 - mae: 1.1223 - val_loss: 1.1196 - val_mae: 1.1196
Epoch 119/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1226 - mae: 1.1226 - val_loss: 1.1017 - val_mae: 1.1017
Epoch 120/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1195 - mae: 1.1195 - val_loss: 1.1095 - val_mae: 1.1095
Epoch 121/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1205 - mae: 1.1205 - val_loss: 1.1048 - val_mae: 1.1048
Epoch 122/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1124 - mae: 1.1124 - val_loss: 1.0995 - val_mae: 1.0995
Epoch 123/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1214 - mae: 1.1214 - val_loss: 1.1026 - val_mae: 1.1026
Epoch 124/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1083 - mae: 1.1083 - val_loss: 1.0970 - val_mae: 1.0970
Epoch 125/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1106 - mae: 1.1106 - val_loss: 1.0988 - val_mae: 1.0988
Epoch 126/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0986 - mae: 1.0986 - val_loss: 1.0869 - val_mae: 1.0869
Epoch 127/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1008 - mae: 1.1008 - val_loss: 1.0834 - val_mae: 1.0834
Epoch 128/300
273/273 [==============================] - 1s 5ms/step - loss: 1.1084 - mae: 1.1084 - val_loss: 1.0832 - val_mae: 1.0832
Epoch 129/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0931 - mae: 1.0931 - val_loss: 1.0802 - val_mae: 1.0802
Epoch 130/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0897 - mae: 1.0897 - val_loss: 1.0827 - val_mae: 1.0827
Epoch 131/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0942 - mae: 1.0942 - val_loss: 1.0871 - val_mae: 1.0871
Epoch 132/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0942 - mae: 1.0942 - val_loss: 1.0698 - val_mae: 1.0698
Epoch 133/300
273/273 [==============================] - 2s 6ms/step - loss: 1.0825 - mae: 1.0825 - val_loss: 1.0767 - val_mae: 1.0767
Epoch 134/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0828 - mae: 1.0828 - val_loss: 1.0686 - val_mae: 1.0686
Epoch 135/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0767 - mae: 1.0767 - val_loss: 1.0669 - val_mae: 1.0669
Epoch 136/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0652 - mae: 1.0652 - val_loss: 1.0687 - val_mae: 1.0687
Epoch 137/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0869 - mae: 1.0869 - val_loss: 1.0722 - val_mae: 1.0722
Epoch 138/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0740 - mae: 1.0740 - val_loss: 1.0622 - val_mae: 1.0622
Epoch 139/300
273/273 [==============================] - 1s 5ms/step - loss: 1.0653 - mae: 1.0653 - val_loss: 1.0620 - val_mae: 1.0620
CPU times: user 4min 4s, sys: 16.5 s, total: 4min 20s
Wall time: 3min 25s

## Val pred

In [ ]:
dnn_model.evaluate(X_test, y_test, verbose=1)

86/86 [==============================] - 0s 2ms/step - loss: 0.7499 - mae: 0.7499

[0.7499344944953918, 0.7499344944953918]

## Test pred

In [ ]:
dnn_model.predict(df_test_prep).flatten()

107/107 [==============================] - 0s 2ms/step

array([25.311941, 28.135862, 25.913277, ..., 26.649694, 24.902853,
       36.304676], dtype=float32)

# Submission

In [ ]:
results = pd.DataFrame(dnn_model.predict(df_test_prep).flatten())

107/107 [==============================] - 0s 2ms/step

In [ ]:
df_submit = pd.read_csv('/content/IOT_Submit.csv')

In [ ]:
submission = pd.concat([df_submit.loc[:2],
          df_submit.loc[3:,['id']].join(results).rename(columns={0:'temp'})], axis=0).set_index('id')

In [ ]:
submission

      temp
id
1    25.60
2    30.10
3    24.70
4    28.49
5    34.87
...    ...
3409 25.14
3410 32.71
3411 26.65
3412 24.90
3413 36.30

[3413 rows x 1 columns]

In [ ]:
#submission.to_csv('submission.csv')

In [ ]:
#!kaggle competitions submit -c ss3-hackathon-online-iots-and-robotics -f submission.csv -m "hello kaggle"

100% 77.1k/77.1k [00:01<00:00, 67.9kB/s]
Successfully submitted to Hackathon Online: IoTs and Robotics